@import './variables.scss';



::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    color: white;
    width: 100%;
    font-size: 2.2vh;
}

.topWrap {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(44, 62, 80,0.8) 0%, rgba(243, 104, 224,0.6) 100%), url('./background.jpg');
}
 
.TopBar {
    top: 0;
    width:100%;
    height: 13vh;
    font-family: 'Titillium Web', sans-serif;
}

.imageWrapper {
    display: inline-block;
    width: 14vw;
    margin: -15vh auto 0 auto;
}

#logo {
    display: block;
    float: left;
    height: 60vh;
    width: 40%;
    padding-top: 3vh;
    margin: auto;
}

.logo {
    display: block;
    margin: 15vh auto 0 auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.textBox {
    font-family: 'Poppins', sans-serif;
    margin-top: 35vh;
    width: 55%;
    display: block;
    float: left;
    line-height: 5vh;
    text-align: center;
}


#outer-container, .fuckthisshit{
    background: black;
}


.mainHeading {
    display: block;
    width:30%;
    margin: 0 0 0 8vw;
    padding-top:1.8vh;
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    font-size: 6vh;
}

#page-wrap{
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}

.garbageWrapper {
    width: 100vw;
    height: 55vh;
    background: $veryDarkBlue;
}

.boxText {
    font-family: 'Titillium Web', sans-serif;
    color: #dedede;
    padding: 0;
    width: 70%;
    height: 40vh;
    margin: 0 auto 0 auto;
    line-height: 4vh;
}

.leftP, .rightP {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: block;
    width: 45%;
    height: 30vh;
    text-align: justify;
    text-justify: inter-word;
}

.leftP {
    float: left;
}

.rightP {
    float: right;
}

.buttons {
    height: 10vh;
    width: 60%;
    display: block;
    margin: auto;
}

.btn {
    height: 6vh;
    margin-left: 3.8vw;
    color: white;
    width: 10vw;
    border: none;
    background-color: #3498db;
}

.btn:hover {
    box-shadow: 0px 0px 18px 7px rgba(72, 219, 251,0.2);
}

.quote {
    font-style: italic;
    font-size: 2.1vh;
    padding-bottom: 3vh;
}

.title {
    font-size: 4vh;
    font-weight: bolder;
}

.subtitle {
    font-size: 2.8vh;
}

.sectionTitle {
    text-align: center;
    font-size: 5vh;
    padding-top: 3vh;
    font-family: 'Poppins', sans-serif;
}


.teamInfo {
    // width: 100%;
    margin-top: -5vh;
    color: #fff;
    padding: 0 5vh 0 5vh;
    background: #050F1E;
    display: block;
    width: 100vw;
    height: 95vh;
}

.profileCard {
    box-sizing:border-box;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: block;
    width: 50%;
    height: 25vh;
    float: left;
    font-family: 'Poppins', sans-serif;
    line-height: 1vh;
}

.leftPro {
    padding-left: 5%;

}

.profileCard:last-of-type {
    width: 50%;
    float: none;
    margin: auto;
}


.profileName {
    margin-top: 4vh;
    font-size: 3vh;
    color: #f368e0;
}

.profileTitle {
    font-style: italic;
    color: #0abde3;
}

.profilePicture {
    display: block;
    float: left;
    height: 20vh;
    width: 20vh;
}

.proDes {
    width: 100%;
    height: 10vh;
    line-height: 120%;
    color: #c5c5c5;
}

.content {
    padding-left: 1vw;
    width: 70%;
    height: 20vh;
    display: block;
    float: left;
}

.picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-radius: 50%;
}

.picture:hover {
    filter: brightness(80%);
}


.tool {
    height: 20vh;
    width: 20vh;
    padding: 4.5vh;
}

.toolText {
    font-size: 3.5vh;
}

#tool {
    text-align: center;
    display: block;
    width: 20vh;
    float: left;
    margin-left: 4.7vw;
}


.tryApp {
    margin-top: -5vh;
    display: block;
    width: 100%;
    height: 85vh;
    background: $veryDarkBlue;
}

.ratInfo {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    width: 65%;
    margin: auto;
    padding: 2vh;
    color: #c4c4c4;
    text-align: center;
    text-justify: inter-word;
}

.toolsWrapper {
    display: block;
    width: 80%;
    margin: auto;
}

.futureRoadmap {
    margin-top: -5vh;
    height: 90vh;
    width: 100%;
    display: block;
    background: rgb(22,44,65);
}

.roadMapRow {
    display: block;
    width: 60%;
    height: 5vh;
    padding: 2vh;
    margin: 5vh auto 5vh auto;
    background: #050F1E;
    border-radius: 4vh;
}

.dot {
    display: block;
    float: left;
    width: 5vh;
    height: 5vh;
    background: #1dd1a1;
    border-radius: 50%;
    content: " ";
}

.rowDate {
    font-weight: bolder;
    display: block;
    width: 10%;
    float: left;
    padding-top: 0.5vh;
    padding-left: 2vw;
}

.rowDesc {
    font-family: 'Titillium Web', sans-serif;
    border-left: 1px solid white;
    display: block;
    padding-left: 1vw;
    width: 78%;
    float: left;
    padding-top: 0.5vh;
    color: #c4c4c4;
    font-style: oblique;
}